<section>
  <div class="container">
      
      <div class="row">
          <div class='col-md-6'>
              <h1 class="ml-auto text-center mt-3 mb-3">Add Products </h1>
              <form action="add-product" enctype="multipart/form-data" method="POST">
            <div class="form-group">
                <label class = 'mb-2'for="formGroupExampleInput">Name</label>
                <input type="text" class="form-control" name="Name" id="formGroupExampleInput" >
            </div>
            <div class="form-group">
                <label class = 'mb-2' for="formGroupExampleInput2">Price</label>
                <input type="text" class="form-control" name="Price" id="formGroupExampleInput2" >
            </div>
            <div class="form-group">
                <label class = 'mb-2' for="formGroupExampleInput2">Description</label>
                <input type="text" class="form-control" name="Description" id="formGroupExampleInput2" >
            </div>
            <div class="form-group">
                <label class = 'mb-2' for="formGroupExampleInput2">Image</label>
                <input type="file" class="form-control" name="Image" id="formGroupExampleInput2" >
            </div>
            <button class="btn btn-success mt-3" type="submit ">Submit</button>
            </form>
          </div>
      </div>
  </div>
</section>