
    


    
    <section class="mt-5">
      <div class="container">
        <div class="row">
            
          {{#each products}}
          <div class="col-md-3">
             <div class="col">
                <div class="card h-100 shadow-sm mb-3"> <img src="/product-images/{{this._id}}.png" class="card-img-top" alt="...">
                    <div class="label-top shadow-sm">{{this.Name}}</div>
                    <div class="card-body">
                        <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-success">{{this.Price}}</span> <span class="float-end"><a href="#" class="small text-muted">Check availability</a></span> </div>
                        <h5 class="card-title">{{this.Description}}</h5>
                        <div class="text-center my-4"> <a href="#" class="btn btn-warning">Add to Cart</a> </div>
                        <div class="clearfix mb-1"> <span class="float-start"><i class="far fa-question-circle"></i></span> <span class="float-end"><i class="fas fa-plus"></i></span> </div>
                    </div>
                </div>
            </div>
            
           
          </div>
           {{/each}}
        </div>
      </div>
    </section>
